{% extends "FOMUserBundle:Login:box.html.twig" %}

{% block title %}{{ 'Login' | trans}}{% endblock %}

{% block box_content %}
  <div class="loginBox login">
    <h2 class="contentTitle">{{ 'Login' | trans}}</h2>
    <form action="{{ path("fom_user_login_logincheck") }}" method="post" id="login" novalidate="novalidate">
      {% if error %}
        <div class="messageBox error">{{ error.message }}</div>
      {% endif %}

      <label class="left labelInput" for="username">{{ 'Username' | trans}}:</label>
      <input class="input" id="username" type="text" name="_username" value="{{ last_username }}" autofocus />

      <div class="clearContainer"></div>

      <label class="left labelInput" for="password">{{ 'Password' | trans}}:</label>
      <input class="input" type="password" id="password" name="_password" />

      <div class="clearContainer"></div>

      {% if selfregister == true %}
      <a class="linkButton iconLinkButton left" href="{{ path('fom_user_registration_form') }}">{{ 'Register' | trans}}</a>
      {% endif %}
      {% if reset_password == true %}
      <a class="linkButton iconLinkButton left" href="{{ path('fom_user_password_form') }}">{{ 'Forgot password' | trans}}?</a>
      {% endif %}

      <input type="submit" class="right button" value="{{ 'Login' | trans}}" />
      <div class="clearContainer"></div>
    </form>
  </div>
{% endblock %}
