{% extends "FOMManagerBundle::backend.html.twig" %}

{% set title %}{% block title %}{% endblock %}{% endset %}

{% block backend_content %}


  <div class="head"><hr class="dekoSeperator"></div>
    <div id="wrapper" class="page">


      <div class="leftPane">
        <a href="{{ path('mapbender_core_welcome_list') }}"><img class="logo" alt="Mapbender 3 Manager" src="{{ asset(fom.server_logo)}}" /></a>
        {% if app.user != "" %}
          {% render "FOMManagerBundle:Manager:menu" with { "request": app.request } %}
        {% endif %}
      </div>

      <div class="rightPane">

        {# flash me baby #}
        {% for key, flash in app.session.flashes %}
          <div class="flashBox {{ key }}">
            {{ flash | trans }}
          </div>
        {% endfor %}

        <div class="accountBar shadowBox">
          {% if app.user != "" %}
            <ul id="accountMenu" class="accountMenu">
                <li id="accountOpen" class="iconDown smallText">{{ "Logged in as"|trans}}: {{ app.user.username }}<span class="openedIcon"></span></li>
                <li><a class="linkButton iconSettings" href="{{ url('fom_user_user_edit', {'id': app.user.id}) }}">{{ "Your Account"|trans }}</a></li>
                <li><a class="linkButton iconSignOut" href="{{ url('fom_user_login_logout') }}">{{ "Logout"|trans }}</a></li>
            </ul>
          {% else %}
            <a class="linkButton iconSignIn" href="{{ path('fom_user_login_login') }}">{{ "Login"|trans}}</a>
          {% endif %}
        </div>

        <div class="contentPane">
          <div id="version" class="mapbenderVersion smallText">v. 3.0.0.0</div>
          {% if app.user != "" %}
            {% render "FOMManagerBundle:Manager:bread" with { "request": app.request } %}
          {% endif %}
          <div class="content shadowBox">
            <h1 class="contentTitle">{{ title|trans }}</h1>

            {% block manager_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}