{% extends "FOMUserBundle:Login:box.html.twig" %}

{% block title %} {{ 'fom.user.password.done.password_reset' | trans}} {% endblock %}

{% block box_content %}
    <div class="loginBox">
        <h2 class="contentTitle">{{ 'fom.user.password.done.congratulations' | trans }}</h2>
        <p class="description">{{ "fom.user.password.done.password_been_reset" | trans }}</p>
        <a class="left iconLinkButton linkButton" href="{{ path('fom_user_login_login') }}">{{ "fom.user.password.done.back_to_login"|trans}}</a>
        <div class="clearContainer"></div>
    </div>
{% endblock %}