{% extends "FOMManagerBundle::backend.html.twig" %}

{% block title %} {{ 'Password Forgot' | trans}} {% endblock %}

{% block content %}
  <div class="authWrapper forgot">
    <div class="head"><hr class="dekoSeperator"></div>
    <a class="logo" href="{{ path('mapbender_core_welcome_list') }}"><img alt="Mapbender 3" src="{{ asset(fom.server_logo)}}" /></a>

    <div class="loginBox">
      <h2 class="contentTitle">{{ 'Forgot password' | trans}}</h2>
      <form action="{{ path('fom_user_password_request') }}" method="post" {{ form_enctype(form)}} autocomplete="off" novalidate="novalidate">

        <label for="{{ form.search.get('id') }}" class="left labelInput">{{"Username or Email" | trans}}:</label>
        {{ form_widget(form.search) }}
        {{ form_row(form._token) }}

        <a class="left linkButton" href="{{ path('fom_user_login_login') }}">{{ "Back to login"|trans}}</a>
        <button class="button right">{{ 'Require password' | trans}}</button>
      </form>
      <div class="clearContainer"></div>
    </div>
  </div>
{% endblock %}
