{% extends "FOMUserBundle:Login:box.html.twig" %}

{% block title %} {{ 'fom.user.password.form.title' | trans}} {% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ path('mapbender_core_application_assets', {'slug': 'mb3-login', 'type': 'css'}) }}"/>
{% endblock %}
{% block box_content %}
  <div class="loginBox forgot">
    <h2 class="contentTitle">{{ 'fom.user.password.form.caption' | trans}}</h2>
    <form action="{{ path('fom_user_password_request') }}" method="post" {{ form_enctype(form)}} autocomplete="off" novalidate="novalidate">

        <p class='labelText'>{{ 'fom.user.password.form.message' | trans }}</p>
      {% if form_errors(form) | trim | length > 0 %}
        <div class="messageBox error">{{ form_errors(form) }}</div>
      {% endif %}

      <label for="{{ form.search.vars.id }}" class="left labelInput">{{"fom.user.password.form.username_email" | trans}}:<span class="required">*</span></label>
      {{ form_widget(form.search) }}
      {{ form_row(form._token) }}

      <a class="left iconLinkButton linkButton" href="{{ path('fom_user_login_login') }}">{{ "fom.user.password.form.back_to_login"|trans}}</a>
      <button class="button right">{{ 'fom.user.password.form.require_password' | trans}}</button>
    </form>
    <div class="clearContainer"></div>
  </div>
 <script type="text/javascript">
    var Mapbender = Mapbender || {};
    Mapbender.configuration = {elements:{}};
  </script>
{% endblock %}
