{% extends "FOMManagerBundle::backend.html.twig" %}

{% block title %} {{ 'fom.user.password.reset.title' | trans}} {% endblock %}

{% block content %}
<h1>{{ 'fom.user.password.reset.caption' | trans}}</h1>
<form action="{{ url('fom_user_password_password', {"token": app.request.get("token")}) }}" method="post" {{ form_enctype(form)}} autocomplete="off">
    {% if form_errors(form) | length > 0 %}
        <div>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_row(form._token) }}
    {{ form_row(form.password) }}

    <button class="button">{{ 'fom.user.password.reset.btn' | trans}}</button>
</form>
{% endblock %}
