<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.firstname" | trans}}</label>
{{ form_widget(form.profile.firstName) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.lastName" | trans}}</label>
{{ form_widget(form.profile.lastName) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.notes" | trans}}</label>
{{ form_widget(form.profile.notes) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.phone" | trans}}</label>
{{ form_widget(form.profile.phone) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.organizationName" | trans}}</label>
{{ form_widget(form.profile.organizationName) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.organizationRole" | trans}}</label>
{{ form_widget(form.profile.organizationRole) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.street" | trans}}</label>
{{ form_widget(form.profile.street) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.zipCode" | trans}}</label>
{{ form_widget(form.profile.zipCode) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.city" | trans}}</label>
{{ form_widget(form.profile.city) }}
<div class="clearContainer"></div>
<label class="left labelInput" for="{{ form.profile.firstName.vars.id }}">{{"form.profile.basic.country" | trans}}</label>
{{ form_widget(form.profile.country) }}
<div class="clearContainer"></div>