{% extends "FOMManagerBundle::manager.html.twig" %}

{% set username = user.username %}

{% block title %}{% trans %}Delete user %username%{% endtrans %}{% endblock %}

{% block manager_content %}

<form id="entity-delete" action="{{ path('fom_user_user_delete', { 'id': user.id }) }}" method="post" {{ form_enctype(form)}}>
    <header>
    {% trans %}Do you really want to delete the user <em>%username%</em>?{% endtrans %}
    </header>
    {{ form_widget(form) }}
    <footer>
        <div>
            <input type="submit" value="{{ 'Delete' | trans }}"/>
            <a href="{{ url('fom_user_user_index') }}">{{ 'Cancel' | trans}}</a>
        </div>
    </footer>
</form>

{% endblock %}
