<header>
{% trans %}
Required fields are marked with dark labels, while optional fields have lighter labels.
{% endtrans %}
</header>

<ul>
    <li><a href="#user-basics" data-toggle="tab">{{ 'Base data' | trans}}</a></li>
    <li><a href="#user-groups" data-toggle="tab">{{ 'Groups' | trans}}</a></li>
    <li><a href="#user-acl" data-toggle="tab">{{ 'Security' | trans}}</a></li>
</ul>

<div>
    <section id="user-basics">
        {% include 'FOMUserBundle:User:form-basic.html.twig' %}
    </section>

    <section id="user-groups">
        {% include 'FOMUserBundle:User:form-groups.html.twig' %}
    </section>

    <section id="user-acl">
        {{ form_row(form.acl) }}
    </section>
</div>

{###############################################################################
    Render any remaining fields inside the rulers to make you aware you forgot
    them
###############################################################################}
{% set form_rest = form_rest(form) %}
{% if form_rest %}
<hr />
{{ form_rest | raw }}
<hr />
{% endif %}