<header class="form-help">
{% trans %}
Required fields are marked with dark labels, while optional fields have lighter labels.
{% endtrans %}
</header>

<ul class="nav nav-tabs">
    <li class="active"><a href="#user-basics" data-toggle="tab">{{ 'Base data' | trans}}</a></li>
    <li><a href="#user-groups" data-toggle="tab">{{ 'Groups' | trans}}</a></li>
    <li><a href="#user-acl" data-toggle="tab">{{ 'Security' | trans}}</a></li>
    {% if form.profile is defined %}
    <li><a href="#user-profile" data-toggle="tab">{{ 'Profile' | trans}}</a></li>
    {% endif %}
</ul>

<div class="tab-content">
    <section id="user-basics" class="tab-pane active">
        {% include 'FOMUserBundle:User:form-basic.html.twig' %}
    </section>

    <section id="user-groups" class="tab-pane">
        {% include 'FOMUserBundle:User:form-groups.html.twig' %}
    </section>

    <section id="user-acl" class="tab-pane">
        {{ form_row(form.acl) }}
    </section>
    {% if form.profile is defined %}
    <section id="user-profile" class="tab-pane">
        {% if profile_template %}
            {% include profile_template %}
        {% else %}
            {{ form_widget(form.profile) }}
        {% endif %}
    </section>
    {% endif %}
</div>

{###############################################################################
    Render any remaining fields inside the rulers to make you aware you forgot
    them
###############################################################################}
{% set form_rest = form_rest(form) %}
{% if form_rest %}
<hr />
{{ form_rest | raw }}
<hr />
{% endif %}

