{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Users' | trans }}{% endblock %}

{% block manager_content %}

{% include "FOMUserBundle:User:navigation.html.twig" %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ "Name" | trans }}</th>
            <th>{{ "E-Mail" | trans }}</th>
            <th>{{ "Groups" | trans }}</th>
            <th>{{ "Actions" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr id="app-{{ user.id }}">
            <td>
                {% if is_granted('EDIT', user) %}
                <a href="{{ path('fom_user_user_edit', {'id': user.id}) }}" title="{{ 'Edit' | trans }}">{{ user.username }}</a>
                {% else %}
                {{ user.username }}
                {% endif %}
            </td>
            <td><a href="mailto:{{ user.email }}" title="{{ 'Contact user via e-mail' | trans }}">{{ user.email }}</a></td>
            <td>
                <ul>
                    {% for group in user.groups %}
                    <li><a href="{{ path('fom_user_group_edit', { 'id': group.id }) }}" title="{{ 'Edit group' | trans }}">{{ group.title }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <div class="entity-actions btn-group">
                    {% if is_granted('EDIT', user) %}
                    <a class="action-edit btn" href="{{ path('fom_user_user_edit',  {'id': user.id }) }}" title="{{ 'Edit' | trans }}">{{ 'Edit' | trans }}</a>
                    {% endif %}
                    {% if user.id != 1 and is_granted('DELETE', user) %}
                    <a class="action-delete btn btn-warning" href="{{ path('fom_user_user_confirmdelete', { 'id': user.id }) }}">{{ 'Delete' | trans }}</a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "FOMUserBundle:User:actions.html.twig" %}

{% endblock %}
