{% extends "FOMManagerBundle::manager.html.twig" %}


{% block title %}{{ 'fom.user.user.index.title' | trans }}{% endblock %}

{% block css %}
  {{parent()}}
  <link rel="stylesheet" href={{ asset('components/datatables/datatables-built.css') }}/>
  <link rel="stylesheet" href={{ asset('bundles/fomuser/css/userlist.datatables.css')}} />
{% endblock %}

{% block manager_content %}

{% if create_permission %}
<a class="iconAdd iconBig right" href="{{path('fom_user_user_new')}}" title="{{"fom.user.user.index.add_new_user"|trans}}"></a>
{% endif %}

<div class="clearContainer"></div>

<table id="listFilterGroups" class="table userControlTable">
  <thead id="usersHead">
    <tr>
      <th>{{ "fom.user.user.index.name" | trans }}</th>
      <th>{{ "fom.user.user.index.email" | trans }}</th>
      <th>{{ "fom.user.user.index.groups" | trans }}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>
<div class="clearContainer"></div>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      try {
        $('#listFilterGroups').DataTable( {
          "serverSide": true,
          "ajax": "/app_dev.php/manager/user/search",
          "ordering": false,
          "info":     true,
          "pagingType" : "full_numbers",
          "language": {
            "decimal":        "",
            "emptyTable":     "{{ "fom.user.user.index.datatable.emptytable" | trans }}",
            "info":           "{{ "fom.user.user.index.datatable.info" | trans }}",
            "infoEmpty":      "{{ "fom.user.user.index.datatable.infoempty" | trans }}",
            "infoFiltered":   "",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{{ "fom.user.user.index.datatable.lenghtmenu" | trans }}",
            "loadingRecords": "{{ "fom.user.user.index.datatable.loadingrecords" | trans }}",
            "processing":     "{{ "fom.user.user.index.datatable.processing" | trans }}",
            "search":         "{{ "fom.user.user.index.datatable.search" | trans }}",
            "zeroRecords":    "{{ "fom.user.user.index.datatable.zerorecords" | trans }}",
            "paginate": {
              "first":      "{{ "fom.user.user.index.datatable.paginate.first" | trans }}",
              "last":       "{{ "fom.user.user.index.datatable.paginate.last" | trans }}",
              "next":       "{{ "fom.user.user.index.datatable.paginate.next" | trans }}",
              "previous":   "{{ "fom.user.user.index.datatable.paginate.previous" | trans }}"
            }
          },
          "columns": [
            { "data": "username" },
            { "data": "email" },
            { "data": "groups", render: "[, ].title" },
            {
              "data":      null,
              "className": "tdsmall",
              render:      function(data, type, row) {
                return (data.editPath != '')
                  ? '<a class="iconEdit iconSmall" href="' + data.editPath + '" title="' +
                    'data: edit translated' + '' + data.username + '"></a>'
                  : ''
              }
            },
            {
              "data": null,
              "className":"tdsmall",
              render: function ( data, type, row ) {
                return (data.deletePath != '')
                  ? '<span class="iconRemove iconSmall" title="delete '+'username'+'" ' +
                    'data-url="' + data.deletePath + '" data-id="' + data.id + '"></span>'
                  : '';
              }
            }
          ]
        });
      } catch(err) {
          // in case the login times out we want the user be redirected to login screen...
          document.location.href='/';
      }
    });
  </script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
{% endblock %}
