{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Users' | trans }}{% endblock %}

{% block js %}
    {{parent()}}
    <script type="application/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
{% endblock %}

{% block manager_content %}

<a class="iconAdd iconBig right" href="{{path('fom_user_user_new')}}" title="{{"Add new user"|trans}}"></a>

{% if users|length > 0 %}
  <label for="inputFilterUsers" class="labelInput left">{{"Filter"|trans}}</label>
  <input id="inputFilterUsers" type="text" class="input left listFilterInput"/>

  <div class="clearContainer"></div>
  <table id="listFilterUsers" class="table userControlTable listFilterContainer">
    <thead id="usersHead">
      <tr class="doNotFilter">
        <th>{{ "Name" | trans }}</th>
        <th>{{ "E-Mail" | trans }}</th>
        <th>{{ "Groups" | trans }}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="usersBody">
      {% for user in users %}
        <tr id="app-{{ user.id }}" class="filterItem">
          <td>
            {% if is_granted('EDIT', user) %}
            <a class="labelText" href="{{ path('fom_user_user_edit', {'id': user.id}) }}" title="{{ 'Edit' | trans }}">{{ user.username }}</a>
            {% else %}
            {{ user.username }}
            {% endif %}
          </td>
          <td><a class="linkButton" href="mailto:{{ user.email }}" title="{{ 'Contact user via e-mail' | trans }}">{{ user.email }}</a></td>
          <td>
            <ul>
              {% for group in user.groups %}
              <li><a class="linkButton" href="{{ path('fom_user_group_edit', { 'id': group.id }) }}" title="{{ 'Edit group' | trans }}">{{ group.title }}</a></li>
              {% endfor %}
            </ul>
          </td>
          <td class="iconColumn">
            {% if is_granted('EDIT', user) %}
              <a class="iconEdit iconSmall" href="{{ path('fom_user_user_edit',  {'id': user.id }) }}" title="{{ 'Edit' | trans }}"></a>
            {% endif %}
          </td>
          <td class="iconColumn">
            {% if user.id != 1 and is_granted('DELETE', user) %}
              <a class="iconRemove iconSmall" data-name="{{ user.username }}" href="{{ path('fom_user_user_delete', { 'id': user.id }) }}"></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="description left">{{"No users exists."|trans}}</p>
{% endif %}
<div class="clearContainer"></div>
{% endblock %}
