{% extends "MapbenderManagerBundle::manager.html.twig" %}

{% block title %}{{ 'fom.user.user.index.title' | trans }}{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block manager_content %}

    {% if create_permission %}

        <a  href="{{ path('fom_user_user_new') }}"
            title="{{ "fom.user.user.index.add_new_user"|trans }}"><i class="fa fa-plus-square"></i></a>
    {% endif %}

    {% if users|length > 0 %}



        <table id="-fn-users-table"   class="table  table-striped">
            <thead>
            <tr>
                <th>{{ "fom.user.user.index.name" | trans }}</th>
                <th>{{ "fom.user.user.index.email" | trans }}</th>
                <th>{{ "fom.user.user.index.groups" | trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr id="app-{{ user.id }}">
                    <td>
                        {% if is_granted('EDIT', user) %}
                            <a href="{{ path('fom_user_user_edit', {'id': user.id}) }}"
                               title="{{ 'fom.user.user.index.edit_user' | trans }} {{ user.username }}">{{ user.username }}</a>
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </td>
                    <td><a href="mailto:{{ user.email }}"
                           title="{{ 'fom.user.user.index.contact_user' | trans }}">{{ user.email }}</a></td>
                    <td>
                        <ul>
                            {% for group in user.groups %}
                                <li><a href="{{ path('fom_user_group_edit', { 'id': group.id }) }}"
                                       title="{{ 'fom.user.user.index.edit_group' | trans }} {{ group.title }}">{{ group.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if is_granted('EDIT', user) %}
                            <a href="{{ path('fom_user_user_edit',  {'id': user.id }) }}"
                               title="{{ 'fom.user.user.index.edit_user' | trans }} {{ user.username }}"><i
                                        class="fa fa-pencil"></i> </a>
                        {% endif %}
                        {% if user.id != 1 and is_granted('DELETE', user) %}
                            <i class="fa fa-remove -fn-delete"
                               title="{{ "fom.user.user.index.delete_user"|trans }} {{ user.username }}"
                               data-url="{{ path('fom_user_user_delete', { 'id': user.id}) }}"
                               data-id="{{ user.id }}"
                            ></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="description left">{{ "fom.user.user.index.no_users_available"|trans }}</p>
    {% endif %}
    <script>
        window.onload = function () {
            $('#-fn-users-table').DataTable(  {"paging": false});
        }
    </script>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
{% endblock %}
