{% extends "FOMManagerBundle::manager.html.twig" %}


{% block title %}{{ 'fom.user.user.index.title' | trans }}{% endblock %}

{% block css %}
  {{parent()}}
  <link rel="stylesheet" href={{ asset('components/datatables/datatables-built.css') }}/>
  <link rel="stylesheet" href={{ asset('bundles/fomuser/css/userlist.datatables.css')}} />
{% endblock %}

{% block manager_content %}

{% if create_permission %}
<a class="iconAdd iconBig right" href="{{path('fom_user_user_new')}}" title="{{"fom.user.user.index.add_new_user"|trans}}"></a>
{% endif %}

<div class="clearContainer"></div>

<table id="listFilterGroups" class="table userControlTable">
  <thead id="usersHead">
    <tr>
      <th>{{ "fom.user.user.index.name" | trans }}</th>
      <th>{{ "fom.user.user.index.email" | trans }}</th>
      <th>{{ "fom.user.user.index.groups" | trans }}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>
<div class="clearContainer"></div>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript">

  </script>
  <script type="text/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/fomuser/js/fom.utility.userManagerDataTables.js') }}"></script>
  <script>
      var Mapbender = Mapbender || {};
      Mapbender.i18n = Mapbender.i18n || {};
      $.extend(Mapbender.i18n,
          {
              "fom.user.user.index.datatable.search": "{{ "fom.user.user.index.datatable.search" | trans }}",
              "fom.user.user.index.datatable.info": "{{ "fom.user.user.index.datatable.info" | trans }}",
              "fom.user.user.index.datatable.lenghtmenu": "{{ "fom.user.user.index.datatable.lenghtmenu" | trans }}",
              "fom.user.user.index.datatable.infoempty": "{{ "fom.user.user.index.datatable.infoempty" | trans }}",
              "fom.user.user.index.datatable.emptytable": "{{ "fom.user.user.index.datatable.emptytable" | trans }}",
              "fom.user.user.index.datatable.processing": "{{ "fom.user.user.index.datatable.processing" | trans }}",
              "fom.user.user.index.datatable.zerorecords": "{{ "fom.user.user.index.datatable.zerorecords" | trans }}"
          }
      );

  </script>
{% endblock %}
