{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "Edit Class ACL for %name%" | trans({'%name%': class_name}) }}{% endblock %}

{% block manager_js %}
    <script type="application/javascript" src="{{ asset('bundles/fomuser/js/acl-form.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"</script>
    <script type="application/javascript" src="{{ asset('bundles/fommanager/js/form.js') }}"></script>
{% endblock %}

{% block manager_content %}

<form action="{{ path('fom_user_acl_update', { 'class': class }) }}" method="post" name="{{ form_name }}" {{ form_enctype(form)}} data-aclsid="{{ form.get('widget_control_group_attr')['data-aclsid'] }}">
    {% if form_errors(form) %}
    <div>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {{ form_row(form._token) }}

    {% include 'FOMUserBundle:ACL:form.html.twig' %}

    <footer>
        <div>
            <input type="submit" value="{{ 'Update' | trans }}"/>
            <a href="{{ url('fom_user_acl_index') }}">{{ 'Cancel' | trans}}</a>
        </div>
    </footer>
</form>

{% endblock %}

