{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ 'Global Access Control Lists' | trans }}{% endblock %}

{% block manager_content %}
<table class="table userControlTable">
  <thead>
    <tr>
      <th>{{ "Name" | trans }}</th>
      <th>{{ "Class" | trans }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for class, name in classes|sort %}
      <tr id="app-{{ class|lower }}">
        <td>
          <a class="labelText" href="{{ path('fom_user_acl_edit', {'class': class}) }}" title="{{ 'Edit' | trans }}">{{ name }}</a>
        </td>
        <td class="description">{{ class }}</td>
        <td class="iconColumn">
          <a class="iconEdit iconSmall" href="{{ path('fom_user_acl_edit', {'class': class}) }}" title="{{ 'Edit' | trans }}"></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
