{% extends "FOMManagerBundle::manager.html.twig" %}

{% set group_title = group.title %}

{% block title %}{% trans %}Delete group %group_title%{% endtrans %}{% endblock %}

{% block manager_content %}

<form id="entity-delete" action="{{ path('fom_user_group_delete', { 'id': group.id }) }}" method="post" {{ form_enctype(form) }}>
    <header>
    {% trans %}Do you really want to delete the group with the title <em>%group_title%</em>?{% endtrans %}
    </header>
    {{ form_widget(form) }}
    <footer>
        <div>
            <input type="submit" value="{{ 'Delete' | trans }}"/>
            <a href="{{ url('fom_user_group_index') }}">{{ 'Cancel' | trans}}</a>
        </div>
    </footer>
</form>

{% endblock %}
