{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "Edit Group" | trans}}{% endblock %}

{% block manager_js %}
    <script type="application/javascript" src="{{ asset('bundles/fommanager/js/form.js') }}"></script>
{% endblock %}

{% block manager_content %}

<form action="{{ path('fom_user_group_update', { 'id': group.id }) }}" method="post" name="{{ form_name }}" {{ form_enctype(form)}}>
    {% if form_errors(form) %}
    <div>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {% set user_count = '<span>' ~ group.users | length ~ '</span>' %}
    <p>{%trans with {'%user_count%': user_count } %}There are %user_count% users registered in this group.{% endtrans %}</p>

    {{ form_row(form._token) }}
    {% include 'FOMUserBundle:Group:form.html.twig' %}

    <footer>
        <div>
            <input type="submit" value="{{ 'Update' | trans }}"/>
            <a href="{{ url('fom_user_group_confirmdelete', { 'id': group.id }) }}">{{ 'Delete' | trans }}</a>
            <a href="{{ url('fom_user_group_index') }}">{{ 'Cancel' | trans}}</a>
        </div>
    </footer>
</form>

{% endblock %}
