{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "Groups" | trans }}{% endblock %}

{% block js %}
  {{parent()}}
  <script type="application/javascript" src="{{ asset('bundles/mapbendermanager/js/user-control.js') }}"></script>
{% endblock %}

{% block manager_content %}

<a class="iconAdd iconBig right" href="{{path('fom_user_group_new')}}" title="{{"Add new group"|trans}}"></a>

{% if groups|length > 0 %}
  <label for="inputFilterGroups" class="labelInput left">{{"Filter"|trans}}</label>
  <input id="inputFilterGroups" type="text" class="input left listFilterInput"/>

  <div class="clearContainer"></div>
  <table id="listFilterGroups" class="table userControlTable listFilterContainer">
    <thead id="groupsHead">
      <tr class="doNotFilter">
        <th>{{ "Title" | trans }}</th>
        <th>{{ "Description" | trans }}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="groupsBody">
      {% for group in groups %}
      <tr id="app-{{ group.id }}" class="filterItem">
        <td>
          <a class="labelText" href="{{ path('fom_user_group_edit', {'id': group.id}) }}" title="{{ 'Edit' | trans }}">{{ group.title }}</a>
        </td>
        <td class="description">{{ group.description }}</td>
        <td class="iconColumn">
          <a class="iconEdit iconSmall" href="{{ path('fom_user_group_edit',  {'id': group.id }) }}" title="{{ 'Edit' | trans }}"></a>
        </td>
        <td class="iconColumn">
            <span class="iconRemove iconSmall"  
              title="{{ 'Delete application' | trans }} {{ group.title }}"
              data-url="{{ path('fom_user_group_delete', { 'id': group.id}) }}" 
              data-id="{{ group.id }}"
            ></span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="description left">{{"No goups defined."|trans}}</p>
  <div class="clearContainer"></div>
{% endif %}
{% endblock %}
