{% extends "FOMManagerBundle::manager.html.twig" %}

{% block title %}{{ "Groups" | trans }}{% endblock %}

{% block manager_content %}

{% include "FOMUserBundle:User:navigation.html.twig" %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ "Title" | trans }}</th>
            <th>{{ "Description" | trans }}</th>
            <th>{{ "Actions" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr id="app-{{ group.id }}">
            <td>
                <a href="{{ path('fom_user_group_edit', {'id': group.id}) }}" title="{{ 'Edit' | trans }}">{{ group.title }}</a>
            </td>
            <td>{{ group.description }}</td>
            <td>
                <div class="entity-actions btn-group">
                    {% if is_granted('EDIT', group) %}
                    <a class="action-edit btn" href="{{ path('fom_user_group_edit',  {'id': group.id }) }}" title="{{ 'Edit' | trans }}">{{ 'Edit' | trans }}</a>
                    {% endif %}
                    {% if is_granted('DELETE', group) %}
                    <a class="action-delete btn btn-warning" href="{{ path('fom_user_group_confirmdelete', { 'id': group.id }) }}">{{ 'Delete' | trans }}</a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "FOMUserBundle:Group:actions.html.twig" %}

{% endblock %}
