<ul class="navLevel1 shadowBox">
  <li>
    <a class="navItem" href="{{ path('mapbender_core_welcome_list') }}">Startpage</a>
  </li>

  {% for k, navItem in menu %}
    {% if navItem.active %}
      <li>
        <a class="navItem activeLink" href="{{ path(navItem.route) }}">{{ navItem.title|trans }}</a>

        {% if navItem.subroutes %}
          <ul class="navLevel2">
            {% for subNavItem in navItem.subroutes %}

              <li><a class="navItem" href="{{ path(subNavItem.route) }}">{{ subNavItem.title|trans }}</a>

              {% if subNavItem.subroute is defined %}
                <ul class="navLevel3">
                  <li><a class="navItem" href="{{ path(subNavItem.subroute.route) }}">{{ subNavItem.subroute.title|trans }}</a></li>
                </ul>
              {% endif %}

              </li>

            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% else %}
      <li id="manager-{{ k }}">
        <a href="{{ path(navItem.route) }}" class="navItem">{{ navItem.title|trans }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>