<nav class="navLevel1 navigation">
  {% for k, itemLvlOne in menu %}

    <ul  id="manager-{{ k }}" {% if itemLvlOne.active is defined %} activeItem {% endif %}">
      <li class="navItem ><a class="" href="{{ path(itemLvlOne.route) }}">{{ itemLvlOne.title|trans }}</a></li>

    {% if itemLvlOne.subroutes is defined %}

      <ul class="navLevel2">

        {% for itemLvlTwo in itemLvlOne.subroutes %}
          <li class="{% if itemLvlTwo.active is defined %} activeItem {% endif %} navItem">
            <a{% if itemLvlTwo.idx is defined %} id="{{ itemLvlTwo.idx }}"{% endif %} class="" href="{{ path(itemLvlTwo.route) }}">{{ itemLvlTwo.title|trans }}</a>

            {% if itemLvlTwo.subroutes is defined %}
              <ul class="navLevel3">

                {% for itemLvlThree in itemLvlTwo.subroutes %}
                  <li  {% if itemLvlThree.active is defined %} activeItem {% endif %}">
                    <a class="" href="{{ path(itemLvlThree.route) }}">{{ itemLvlThree.title|trans }}</a>
                  </li>
                {% endfor %}

              </ul>
            {% endif %}

          </li>

        {% endfor %}
      </ul>
    {% endif %}

    </ul>
  {% endfor %}
</nav>